$maxContainerWidth: 910px;
$mediumContainerWidth: 800px;
$smallContainerWidth: 690px;

.TPCMN {
  .progress-line-block.done {
    background: #5091e0;
    transition: 0.3s linear all;
  }
  .progress-line-block.active {
    background: #91bef5;
  }
  .progress-line-block {
    display: inline-block;
    border-radius: 100%;
    border: 2px solid #5091e0;
    margin: 2px;
    width: 14px;
    height: 14px;
  }

  #progress-dot {
    display: none;
    float: right;
    width: 7px;
    height: 5px;
    border-radius: 100%;
    background: #1c75bc;
    margin-top: -2px;
  }

  #progress-bar {
    height: 3px;
    border: 0px solid #eee;
    margin-top: 0px;
    text-align: center;
  }
  #progress-percent {
    width: 0%;
    background: #78b8ff;
    height: 100%;
  }

  /* start typing tooltip for lower resolutions */
  .pause-tooltip {
    display: none;
    background: #5293e2;
    color: white;
    padding: 10px 10px 10px 17px;
    border-radius: 8px;
    font-family: arial;
    font-size: 16px;
    white-space: nowrap;
    position: fixed;
    z-index: 101;
    margin-top: -48px;
    margin-left: -26px;
    > i {
      padding: 0 8px 0 6px;
    }
    &:before {
      content: ' ';
      display: inline-block;
      margin-top: 20px;
      margin-bottom: -22px;
      width: 0;
      margin-right: -24px;
      border-top: solid 10px #5293e2;
      border-left: solid 10px transparent;
      border-right: solid 10px transparent;
    }
    &.boxed {
      margin-left: 5px;
    }
  }
}

body:not(.body-on-results) .TP_APP1 {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;

  * {
    letter-spacing: normal;
    line-height: normal;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    -webkit-box-sizing: initial;
    box-sizing: initial;
  }
  .bottom-nav-bar {
    display: none;
  }
}

body:not(.body-on-results) .TPGAME {
  .bottom-nav-bar {
    display: none;
  }
}

.TP_APP1 {
  .bottom-nav-bar .navbar-content {
    max-width: 800px;
  }

  .pause-tooltip.start-tooltip {
    @media only screen and (min-width: 1256px) {
      display: none !important;
    }
  }

  /* start typing banner for higher resolutions */
  .drop-banner {
    background: #5293e2;
    color: white;
    width: 75px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
    text-transform: uppercase;
    font-family: arial;
    font-size: 14px;
    padding: 180px 5px 8px 5px;
    top: -280px;
    position: fixed;
    z-index: 29;
    left: 50%;
    margin-left: -560px;

    > i {
      display: block;
      line-height: 2;
    }
    @media only screen and (max-width: 1255px) {
      display: none;
    }
  }

  h1 {
    margin: 5px 0 5px 0;
    border: 0px;
    font-size: 1em;
    font-weight: normal;
    font-family: arial;
    color: #bbb;
  }
  #boy {
    display: none;
  }

  /* ICONS */
  .backspace-forbidden {
    position: absolute;
    left: 50%;
    margin-left: -53px;
    top: 50px;
    display: none;
  }

  .stats {
    font-family: 'Droid Sans Mono', courier;
    color: #888;
    display: none;
    float: right;
    text-align: right;
    width: 0;
    transform: translateX(-100px);

    &.flat_view {
      width: inherit;
      display: block !important;
      .stat-row {
        display: inline-block;
        padding: 20px;
      }
    }

    .stat-col {
      font-size: 12px;
    }
    .stat-row {
      font-size: 28px;
      margin-bottom: 20px;
    }
    .stat-row sup {
      font-size: 10px;
      vertical-align: super;
    }
  }

  .stat-col {
    font-size: 12px;
  }
  .stat-row {
    font-size: 28px;
    margin-bottom: 20px;
  }
  .stat-row sup {
    font-size: 10px;
    vertical-align: super;
  }
  .option {
    float: right;
    padding: 5px;
    margin: 2px 5px -12px;
    opacity: 0.5;
    cursor: pointer;
    box-sizing: border-box; // because IE and crome behave differently here, we need to tell them the box-sizing
    height: 36px; // adjust the height with the aditional padding
    transition: 0.3s ease-out all;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 20%;
  }

  .option:hover {
    opacity: 1;
    border-radius: 100%;
    border: 1px solid #999;
    transform: scale(1.2);
    background: white;
  }

  .blackoverlay {
    position: fixed;
    top: 35px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba(0, 0, 0, 0.93);
    z-index: 90;
    will-change: opacity;
  }

  .blackoverlay-message {
    width: 900px;
    margin: auto;
    margin-top: 10%;
    font-size: 42px;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
  }

  .blackoverlay-enter {
    opacity: 0.01;
    .blackoverlay-message {
      margin-top: 15%;
    }
  }

  .blackoverlay-enter.blackoverlay-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
    .blackoverlay-message {
      transition: margin-top 500ms ease-out;
      margin-top: 10%;
    }
  }

  .blackoverlay-exit {
    opacity: 1;
  }

  .blackoverlay-exit.blackoverlay-exit-active {
    opacity: 0.01;
    transition: opacity 200ms ease-in;
  }

  .flip-x {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: 'FlipH';
  }

  .classic-typing-container {
    max-width: $maxContainerWidth;
    margin: auto;

    @media only screen and (max-width: 980px) {
      width: $mediumContainerWidth;
    }
    @media only screen and (max-width: 860px) {
      max-width: $smallContainerWidth;
      .stats {
        height: 0;
        width: 300px;
        margin-bottom: -75px;
        transform: translateY(-69px);
        .stat-row {
          display: inline-block;
          padding: 0 25px;
        }
      }
    }
  }

  // ads
  .classic-typing-container.with-ads {
    .drop-banner {
      @media only screen and (max-width: 1570px) {
        left: inherit;
        right: $maxContainerWidth + 350px;
      }
      @media only screen and (max-width: 1520px) {
        left: 20px;
        margin-left: 0;
        right: inherit;
      }
    }

    &.xxlarge {
      #adslot_1,
      #adslot_2,
      #adslot_video {
        display: none;
      }
    }
    &.adlevel-1 #adslot_2 {
      display: none;
    }

    $ad-width: (50vw - #{$maxContainerWidth / 2} - 30px);

    #adslot_1,
    #adslot_2 {
      position: fixed;
      bottom: 0;
      top: 40px;
      max-width: 336px;
    }
    &.adlevel-5 #adslot_1 {
      bottom: calc(30px + 225px);
    }

    #adslot_1,
    #adslot_video {
      right: 0;
      width: calc(#{$ad-width});
    }
    #adslot_2 {
      left: 0;
      width: calc(#{$ad-width} - 90px);
    }
    #adslot_video {
      position: fixed;
      bottom: 0;
      width: 400px;
      height: 225px;
    }

    @media only screen and (max-width: 1770px) {
      &.adlevel-5,
      &.adlevel-6 {
        #adslot_video {
          width: 400px;
          height: 225px;
        }
        #adslot_1 {
          bottom: calc(30px + 225px);
        }
        .stats {
          margin-right: 100px;
        }
      }
    }

    @media only screen and (max-width: 1570px) {
      margin-right: 330px;
      #adslot_1 {
        width: 300px;
      }
      #adslot_2 {
        display: none;
      }
      #adslot_2 {
        display: none;
      }
    }

    @media only screen and (max-width: 1520px) {
      margin-left: 130px;
    }
    @media only screen and (max-width: 1360px) {
      .stats {
        height: 0;
        width: 300px;
        margin-bottom: -75px;
        transform: translateY(-65px);
        .stat-row {
          display: inline-block;
          padding: 0 25px;
        }
      }
      &.adlevel-5,
      &.adlevel-6 {
        .stats {
          margin-right: 0;
        }
      }
    }
    @media only screen and (max-width: 1255px) {
      margin-left: 40px;
    }

    @media only screen and (max-width: 1175px) {
      width: $mediumContainerWidth;
      #adslot_1 {
        width: calc(100vw - #{$mediumContainerWidth} - 60px);
      }
      &.adlevel-5,
      &.adlevel-6 {
        #adslot_video {
          width: 300px;
          height: 170px;
        }
        #adslot_1 {
          bottom: calc(20px + 170px);
        }
      }
    }

    @media only screen and (max-width: 1020px) {
      #adslot_1 {
        width: calc(100vw - #{$smallContainerWidth} - 60px);
      }

      width: $smallContainerWidth;
      #adslot_video {
        width: 250px;
        height: 141px;
      }
    }

    @media only screen and (max-width: 869px) {
      #adslot_1 {
        left: 0;
        top: initial;
        bottom: 0 !important;
        width: 100%;
        height: 90px;
        margin: 20px 0 15px;
      }
      #adslot_video {
        display: none;
      }
      .stats {
        display: none !important;
      }
    }
  }
}

.keyboard-plugin {
  position: relative;
  margin: auto;
}

.keyboard-popup {
  position: absolute;
  display: none;
  background: #5293e2;
  padding: 10px;
  border-radius: 5px;
  z-index: 1000;
  box-sizing: initial;
  > div {
    position: relative;
    padding: 10px;
    font-family: roboto;
    font-size: 14px;
    color: white;
    line-height: 1.4;
    .right-indicator {
      position: absolute;
      right: 0;
      width: 0;
      margin-right: -20px;
      border-top: solid 10px transparent;
      border-bottom: solid 10px transparent;
      border-left: solid 10px #5293e2;
    }
  }

  .btn-link {
    color: white;
    margin-left: -5px;
    text-decoration: underline;
  }
  .btn-primary {
    float: right;
    border: solid 1px white;
    background: transparent;
    &:hover {
      background: rgba(255, 255, 255, 0.2);
    }
  }

  @media (max-width: 1200px) {
    position: fixed;
    left: 0 !important;
  }
}

.mismatch_settings_modal {
  box-sizing: content-box;
  h3 {
    margin-top: 0px;
    display: inline-block;
  }
  hr {
    margin: 5px -12px 16px -12px;
  }
  ul {
    list-style: none;
    padding: 15px 0 0 0;
    > li span {
      display: inline-block;
    }
  }

  .edicon-layout-keyboard-icon {
    font-size: 0.8em;
    padding-right: 3px;
  }
  .edicon-both-hands,
  .edicon-right-hand,
  .edicon-left-hand {
    font-size: 1.4em;
    vertical-align: sub;
    padding-right: 3px;
  }
  .bluish {
    color: $active-color;
  }
  .modal-header {
    margin: 0 !important;
  }
  .modal-footer {
    margin: 0 !important;
    label {
      float: left;
      font-weight: normal;
      padding: 5px 0;
    }
  }
}
