:root {
    --prog-color: #78b8ff;
    --tran-line: -73.76px;
    --font-color: #576a84;
}
.keyboard {
    position: absolute;
    bottom: 15%;
    left: 50%;
    transform: translateX(-50%);
}

body {
    background: #141319 url('/img/robot.png');
    background-position: right bottom;
    background-size: 100% auto;
    background-repeat: no-repeat;
    overflow: hidden;
    height: 100vh;
    letter-spacing: normal;
    line-height: normal;
    -webkit-font-smoothing: auto;
    -moz-osx-font-smoothing: auto;
    -webkit-box-sizing: initial;
    box-sizing: initial;
    font-family: "Droid Sans Mono",
        courier;
}

object {
    position: absolute;
    pointer-events: none;
    height: 363px;
    top: 50px !important;
    left: 0px;
    opacity: 0.8;
    transform: translateX(55px) scale(1.55);
    overflow-clip-margin: content-box !important;
    overflow: clip !important;
}

.keyboard .edc-st1.edc-st2.b {
    text-align: center;
}

.typing-field{
    position: relative;
    height: 100vh;
    width: 100%;
}
.typing-field .less-container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: calc(100vh - 15%);
    padding: 80px 50px 0;
    margin-left: auto ;
    margin-right: auto;
}

/* Small
@media (min-width: 768px) {
    .less-container {
        width: 750px;
    }
} */

/* Medium */
@media (max-width: 1175px) {
    .less-container {
        width: 800px;
    }
}

/* Large */
@media (max-width: 1020px) {
    .less-container {
        width: 690px;
    }
}
/* Larger */
@media (min-width: 1175px) {
    .less-container {
        width: 991px;
    }
}
.hdrlt {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1000;
    background: rgba(255, 255, 255, .97);
    border-bottom: 1px solid #ddd;
    font-size: 17px;
    height: 45px;
    pointer-events: none;
}
.less-container .hdrlt.compact{
    background: #1d202e;
    color: #eee;
    border-bottom: 1px solid #2a2e44;
}
.hdrlt.compact>.container {
    text-align: right;
    outline: none;
}
.hdrlt.compact .menu-btn {
    padding: 10px;
}
.hdrlt .menu-btn {
    display: inline-block;
    padding: 15px;
    cursor: pointer;
    pointer-events: auto;
}
.hdrlt .nav-icon {
    width: 20px;
    height: 15px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}
.hdrlt .nav-icon span:nth-child(1) {
    top: 0px;
}
.hdrlt .nav-icon span:nth-child(2) {
    top: 6px;
}
.hdrlt .nav-icon span:nth-child(3) {
    top: 12px;
}
.menu-btn:hover span:nth-child(1) {
    transform: rotate(10deg);
    left: 4px;
    top: 1px;
    width: 13px;
}

.menu-btn:hover span:nth-child(2) {
    transform: rotate(45deg);
}

.menu-btn:hover span:nth-child(3) {
    transform: rotate(80deg);
    left: -2px;
    top: 5px;
    width: 13px;
}
.hdrlt .nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #5293e2;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.hdrlt .header-options {
    position: relative;
    padding: 10px 1px;
    white-space: nowrap;
    pointer-events: auto;
}
.pull-left {
    float: left !important;
    white-space: nowrap;
}
.pull-right {
    float: right !important;
    pointer-events: auto;
}
.hdrlt .htext {
    vertical-align: top;
    margin: 13px 15px 0 15px;
    display: inline-block;
    height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hdrlt.compact .htext {
    margin: 8px 15px 0 15px;
}

@media screen and (max-width: 687px) {
.hdrlt .htext.lesson-title {
    display: none;
}
}

@media screen and (max-width: 794px) {
.hdrlt .htext.lesson-title {
    width: 150px;
}
}
.hdrlt .header-options .header-item {
    display: inline;
    position: initial;
}
.theme-robot .hdrlt .header-item>span {
    color: #b3b3b3;
}
@media screen and (max-width: 1088px) {
.hdrlt .header-options .header-item>span {
        width: 50px;
    }
}

@media screen and (max-width: 1145px) {
.hdrlt .header-options .header-item>span {
    width: 65px;}
}
[class^=edicon-],
[class*=" edicon-"] {
    font-family: "Font Awesome 5" !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.edicon-refresh::before {
    content: "&f2f9;";
}
.hdrlt .header-options .header-item>span {
    position: relative;
    display: inline-block;
    width: 70px;
    padding: 11px 0;
    text-align: center;
    color: #999;
}
.typing-field .less-container .text-field {
    width: 100%;
    height: 230px;
    color: var(--font-color);
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    border-bottom: 1.5px solid #eee;
    position: relative;
}
.typing-field .less-container .text-field .text {
    /* height: calc(300px - 6px); */
    width: 100%;
    margin-top: 0;
    font-size: 43px;
    overflow: hidden;
}
.typing-field .less-container .text-field .text .text-container {
    margin-top: 0;
    font-variant-ligatures: none;
    font-family: "Droid Sans Mono";
    /* animation: read-down 8s linear infinite; */
}
.typing-field .less-container .text-field .text .text-container span.letter {
    font-size: 35px;
    border-radius: 4px;
    white-space: nowrap;
    margin: 0;
    padding: 0;
    font-weight: normal;
}
.typing-field .less-container .text-field .text .text-container i {
    display: inline-block;
    width: 0.1em;
    min-width: 0.1em;
}
.typing-field .less-container .text-field .text .text-container .line {
    display: block;
    margin-top: 25px;
    letter-spacing: 2px;
}
/* .typing-field .less-container .text-field .text .text-container .line.active  */
.typing-field .less-container .text-field .text .text-container span.letter.err-vld,
.typing-field .less-container .text-field .text .text-container span.letter.vld,
.typing-field .less-container .text-field .text .text-container span.letter.err {
    outline: 1px solid #0c192b;
}
.typing-field .less-container .text-field .text .text-container span.letter.vld {
    color: #0c192b;
    background: #a6cff3;
}
.typing-field .less-container .text-field .text .text-container span.letter.err-vld {
    background: #ffdd60;
    color: #138061;
}
.typing-field .less-container .text-field .text .text-container span.letter.err {
    color: darkred;
    background: #fc785e;
}
.typing-field .less-container .text-field .text .text-container span.letter.cur {
    background: rgba(255, 255, 255, .21);
    border-bottom: 3px solid #0a6bf9;
    border-radius: 0;
}
.typing-field .less-container .text-field .text .text-container span.letter.cur.stop {
    position: relative;
    overflow: visible;
}
.typing-field .less-container .text-field .text .text-container span.letter.cur.stop::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 20px;
    background-color: blue;
}
.typing-field .less-container .text-field .text .text-container span.letter.cur.stop::after{
    content: '';
    position: absolute;
}
/* @keyframes read-down {
    0%, 10%{
        margin-top: var(--tran-line);
    }
    11%, 20%{
        margin-top: calc(var(--tran-line) * 2);
    }
    21%, 30%{
        margin-top: calc(var(--tran-line) * 3);
    }
    31%, 40%{
        margin-top: calc(var(--tran-line) * 4);
    }
    41%, 50%{
        margin-top: calc(var(--tran-line) * 5);
    }
    51%, 60%{
        margin-top: calc(var(--tran-line) * 6);
    }
    61%, 70%{
        margin-top: calc(var(--tran-line) * 7);
    }
    71%, 80%{
        margin-top: calc(var(--tran-line) * 8);
    }
    81%, 90%{
        margin-top: calc(var(--tran-line) * 9);
    }
    91%, 100%{
        margin-top: calc(var(--tran-line) * 10);
    }
} */
.typing-field .less-container .prog-holder{
    width: 100%;
}
.typing-field .less-container .progress {
    position: relative;
    bottom: 1.5px;
    height: 1.5px;
    background-color: var(--prog-color);
    width: 0%;
    margin-bottom: -1.5px;
}
.typing-field .less-container .progress::after {
    content: '';
    position: absolute;
    width: 8px;
    height: 8px;
    right: -4px;
    top: -4px;
    border-radius: 50%;
    background-color: var(--prog-color);
}

.low-accuracy {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    display: flex;
    display: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.low-accuracy .popup{
    position: absolute;
    width: 100%;
    height: 200px;
    z-index: 2000;
    background-color: #0c192b;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    display: none;
    animation: open-pupop .7s ease-in-out 1;
}
@keyframes open-pupop {
    0%{
        width: 50%;
    }
    60%{
        width: 100%;
    }
    73%,75%,77%{
        width: 80%;
    }
    80%{
        width: 100%;
    }
    85%, 87%{
        width: 88%;
    }
    90%{
        width: 100%;
    }
    95%, 97%{
        width: 96%;
    }
    100% {
        width: 100%;
    }
}
.low-accuracy p{
    line-height: 1.8;
    color: #e3e3e3;
}
.low-accuracy button{
    padding: 5px 15px;
    outline: none;
    border: none;
    border-radius: 4px;
}
.low-accuracy.active,
.low-accuracy.active .popup {
    display: flex;
}
.end-lesson{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #16232d;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}
.end-lesson.active {
    display: flex;
}
.end-lesson .popup {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.end-lesson .popup .rate {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.end-lesson .popup .rate i{
    font-size: 70px;
    font-weight: bolder;
    color: #071221;
    text-shadow: -1px 2px 0px black, 0px -2px 0px black;
}
.end-lesson .popup .rate i:nth-child(3){
    margin-top: -75px;
}
.end-lesson .popup .rate i:nth-child(2),
.end-lesson .popup .rate i:nth-child(4){
    margin-top: -50px;
}
.end-lesson .popup .rate .filled {
    color: #ffc107;
    text-shadow: 0px 0px 20px #ffcd35d4,
                -1.5px 1.2px 0px #ffffff;
    animation: set-star .3s ease-in 1;
}
@keyframes set-star {
    0%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}

.end-lesson .popup .buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}
.end-lesson .popup .buttons button {
    padding: 10px 30px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    background-color: white;
    color: #292929;
    mix-blend-mode: difference;
    display: flex;
    gap: 10px;
    position: relative;
    /* overflow: hidden; */
    border-style: none;
    transition: color .3s .3s;
}
.end-lesson .popup .buttons button.disabled{
    color: gray;
    background-color: lightgray;
    user-select: none;
}
.end-lesson .popup .buttons button.prev::after,
.end-lesson .popup .buttons button.restart::before,
.end-lesson .popup .buttons button.next::before {
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #c57e14;
    transition: .3s;
    border-radius: 15px;
    z-index: -1;
    mix-blend-mode: difference;
}
.end-lesson .popup .buttons button.prev::after{
    right: 0;
}
.end-lesson .popup .buttons button.restart::before{
    left: 50%;
    transform: translateX(-50%);
}
.end-lesson .popup .buttons button.next::before{
    left: 0;
}
.end-lesson .popup .buttons button:not(.disabled):hover{
    color: white;
}
.end-lesson .popup .buttons button.prev:not(.disabled):hover::after,
.end-lesson .popup .buttons button.restart:not(.disabled):hover::before,
.end-lesson .popup .buttons button.next:not(.disabled):hover::before {
    width: 100%;
}
.end-lesson .popup p.final-word {
    font-size: 16px;
    color: #e3e3e3;
    font-weight: bold;
}
#video-lesson-content {
    display: none;
}
#video-lesson-content.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
}
#video-lesson-content .skip-button{
    margin-top: 20px;
    padding: 5px 20px;
    background-color: #24293d;
    outline: none;
    border: none;
    border-radius: 6px;
    font-family: arial;
    color: white;
    transition: .3s;
    box-shadow: inset 0px -2px 6px 0px #000000b8, 0px 4px 8px 0px #00000054, 4px 0px 8px 0px #0000002e;
}
#video-lesson-content .skip-button:hover {
    box-shadow: inset 0px 0px 4px 0px #000000b8, 0px 0px 5px 0px #00000054, 0px 0px 5px 0px #0000002e;
}
.control-bar {
    display: flex;
    margin-top: 17px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: "Droid Sans Mono";
}
.control-bar .play{
    font: var(--fa-font-solid);
    font-size: 27px;
    border: none;
    background: transparent;
    color: #707e93;
    text-shadow: 2px 2px 12px #000000a6;
}
.control-bar .play.played::before{
    content: '\f04c';
}
.control-bar .play.baused::before{
    content: '\f04b';
}
.control-bar p{
    color: #707e93;
    text-align: left;
    font-size: 18px;
}


.choose-test-level{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 12124124;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.choose-test-level.hide {
    display: none;
}
.choose-test-level .container {
    height: 100%;
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    font-family: sans-serif;
    line-height: 1.5;
    letter-spacing: 1.3px;
}

.choose-test-level .tl {
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(-60deg, #141319, #16202e, #141319)
        /*linear-gradient(120deg, hsl(199, 100%, 50%), hsl(209.35deg 59.63% 56.3%), hsl(199, 100%, 50%))*/
        ;
    color: #f7f7f7;
    border-radius: 6px;
    height: 350px;
    max-width: 250px;
    text-align: center;
    align-self: center;
    transition: .3s;
    margin: 50px auto;
    cursor: pointer;
}
.choose-test-level .container div.tl:hover{
    transform: translateY(-10px);
}
.choose-test-level .container .info{
    margin: 20px;
}
.choose-test-level h1 {
    width: 100%;
    /* background: linear-gradient(120deg, hsl(199deg 100% 50% / 3%), hsl(209.35deg 59.63% 56.3% / 50%), hsl(199deg 100% 50% / 4%));; */
    border-radius: 6px;
    height: 30%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #3e3e3e;
    background: url('../img/Screenshot\ 2024-03-16\ 173540.png');
    background-size: cover;
}
.choose-test-level h2 {
    color: #00aeff; 
    margin: 20px 0;
    text-shadow: 0 0 10px hsl(199deg 100% 50% / 49%);

}
.choose-test-level p {
    text-align: center;
    color: #a9a9a9
}